// Variable for nav - Start

$dark_color: #0d0d0d;
$dark_color_btn: #343333;
$light_color: #fff;

// $dark_color: #fff;
// $dark_color_btn: rgb(165, 165, 165);
// $light_color:#0D0D0D;

// Variable for nav - End
